<p>Bonjour <%= @user.first_name %>,</p>
<p>
  Retrouvez le rapport des ouvertures et l'activité de vos grimpeurs et grimpeuses de vos salles pour le mois de <u><%= l(@start_date, format: :month_and_year) %></u>.
</p>

<% @figures.each do |figure| %>
  <div style="border-radius: 10px; padding: 15px; background-color: rgba(127, 127, 127, 0.09); margin-bottom: 15px">
    <h1 style="font-size: 1.4em; margin-top: 0">
      <% if figure[:gym][:logo_path] %>
        <img
          src="<%= figure[:gym][:logo_path] %>"
          alt="logo <% figure[:gym][:name] %>"
          style="border-radius: 50px; height: 30px; width: 30px; vertical-align: bottom"
        >
      <% end %>
      <%= figure[:gym][:name] %>
      <a
        href="<%= "#{ENV['OBLYK_APP_URL']}/gyms/#{figure[:gym][:id]}/#{figure[:gym][:slug_name]}/admins" %>"
        style="font-size: 0.6em; font-weight: normal"
      >
        admin
      </a>
    </h1>
    <div>
      <p style="margin-bottom: 3px">
        Ouverture du mois :
      </p>
      <table style="width: 100%; border: solid rgba(127, 127, 127, 0.3) 1px; border-radius: 5px">
        <thead>
          <tr>
            <td></td>
            <td>Sur les murs au <%= l(@end_date, format: :day_and_short_month) %></td>
            <td>Ouverts</td>
            <td>Démontés</td>
          </tr>
        </thead>
        <% figure[:gym_routes].each do |climbing_type, route_figure| %>
          <tr>
            <th><%= t("climb.#{climbing_type}") %></th>
            <td>
              <strong style="color: #80b2ff"><%= route_figure[:count] %></strong>
            </td>
            <td>
              <strong style="color: #6dc584">+<%= route_figure[:new] %></strong>
            </td>
            <td>
              <strong style="color: #ff9183">-<%= route_figure[:dismounted] %></strong>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <p style="margin-bottom: 6px; margin-top: 8px">
      Nombre d'adonné·es à la salle au <%= l(@end_date, format: :day_and_short_month) %> : <strong style="color: #80b2ff"><%= figure[:follower][:count] %></strong>
      <% if figure[:follower][:new].positive? %>
        <cite style="color: #6dc584">
          +<%= figure[:follower][:new] %> ce mois
        </cite>
      <% end %>
    </p>
    <div>
      <p style="margin-bottom: 9px; margin-top: 0; line-height: 1.2em">
        Nouveaux likes, commentaires, vidéos et croix de vos grimpeurs et grimpeuses ce mois :
      </p>
      <span style="border: rgba(127, 127, 127, 0.3) 1px solid; border-radius: 20px; padding: 3px; margin-right: 5px">
        <img src="<%= "#{ENV['OBLYK_APP_URL']}/images/heart.png" %>" alt="coeur" style="vertical-align: bottom; height: 18px; width: 18px; margin-left: 3px">
        <%= '+' if figure[:likes_count].positive? %><%= figure[:likes_count] %>
      </span>
      <span style="border: rgba(127, 127, 127, 0.3) 1px solid; border-radius: 20px; padding: 3px; margin-right: 5px">
        <img src="<%= "#{ENV['OBLYK_APP_URL']}/images/comment.png" %>" alt="coeur" style="vertical-align: bottom; height: 18px; width: 18px; margin-left: 3px" >
        <%= '+' if figure[:comments_count].positive? %><%= figure[:comments_count] %>
      </span>
      <span style="border: rgba(127, 127, 127, 0.3) 1px solid; border-radius: 20px; padding: 3px; margin-right: 5px">
        <img src="<%= "#{ENV['OBLYK_APP_URL']}/images/video.png" %>" alt="coeur" style="vertical-align: bottom; height: 18px; width: 18px; margin-left: 3px" >
        <%= '+' if figure[:videos_count].positive? %><%= figure[:videos_count] %>
      </span>
      <span style="border: rgba(127, 127, 127, 0.3) 1px solid; border-radius: 20px; padding: 3px">
        <img src="<%= "#{ENV['OBLYK_APP_URL']}/images/double-check.png" %>" alt="coeur" style="vertical-align: bottom; height: 18px; width: 18px; margin-left: 3px" >
        <%= '+' if figure[:ascents_count].positive? %><%= figure[:ascents_count] %>
      </span>
    </div>
  </div>
<% end %>

<p style="text-align: center">
  Vous pouvez vous désinscrire des rapports mensuels depuis <a href="<%= "#{ENV['OBLYK_APP_URL']}/home/settings/notifications" %>">sur votre profil</a>
</p>
