<h1 style="font-size: 16px">
  <%= t('mailer.hello', name: @user.first_name) %>
</h1>

<p>
  <%= t('mailer.reset_password.new_password_request') %>
</p>

<p>
  <%= t('mailer.reset_password.follow_link') %>
</p>

<a href="<%= @app_url %>/new-password?token=<%= @token %>">
  <%= @app_url %>/new-password?token=<%= @token %>
</a>

<p>
  <cite>
    <%= t('mailer.reset_password.link_expiry') %>
  </cite>
</p>
