<h1 style="font-size: 16px">
  <%= t('mailer.welcome.title', name: @user.first_name) %>
</h1>

<p><%= t('mailer.welcome.happy_to_see_you') %></p>
<p><%= t('mailer.welcome.take_a_tour') %></p>
<p><%= t('mailer.welcome.for_crag', url: "#{@app_url}/maps/crags").html_safe %></p>
<p><%= t('mailer.welcome.for_partner', explain_url: "#{@app_url}/about/partner-search", map_url: "#{@app_url}/maps/climbers").html_safe %></p>
<p><%= t('mailer.welcome.for_ascents_log', cuvier_url: "#{@app_url}/crags/117/bas-cuvier", buoux_url: "#{@app_url}/crags/103/buoux", cimai_url: "#{@app_url}/crags/60/cimai", chart_url: "#{@app_url}/home/ascents/send-list").html_safe %></p>
<p><%= t('mailer.welcome.discover_the_rest') %></p>
<p><%= t('mailer.welcome.help', help_url: "https://oblyk.github.io/app-user-doc").html_safe %></p>
<p><%= t('mailer.welcome.see_you_later') %></p>
