<h1 style="font-size: 16px">
  <%= t('mailer.notification.hello', name: @user.first_name) %>
</h1>

<p>
  <%= t('mailer.notification.request_for_follow_up.body', name: @follower.first_name) %>
</p>

<p style="text-align: center">
  <a href="<%= @app_url %>/me/<%= @user.slug_name %>/community/followers">
    <%= t('mailer.notification.request_for_follow_up.subscribe_page') %>
  </a>
</p>

