<p>
  Bonjour,
</p>

<p>
  Nous avons bien pris en compte votre demande de résiliation pour l'abonnement de <%= @multi_gym ? 'vos salles :' : 'votre salle' %> <strong><%= @indoor_subscription.gyms.map(&:name).join(', ') %></strong>
</p>

<p>
  La fin effective de votre abonnement est le <u><%= l(@indoor_subscription.end_date, format: :long_month) %></u>.<br>
  Jusqu'à cette date, vous pouvez continuer d'utiliser toutes les fonctionnalités d'Oblyk.
</p>

<p>
  Après le <u><%= l(@indoor_subscription.end_date, format: :long_month) %></u>, vous repasserez sur la version gratuite et <strong>perdrez les fonctionnalités suivantes :</strong>
</p>

<%= render 'indoor_subscription_mailer/partial/features' %>

<div style="border-radius: 10px; padding: 15px; background-color: rgba(127, 127, 127, 0.09); margin-top: 2em">
  <p style="margin-top: 0; margin-bottom: 0.5em">
    <strong>Bon à savoir :</strong>
  </p>
  <p style="margin: 0">
    Vous pouvez à tout moment réactiver votre abonnement et de nouveau accéder à ces fonctionnalités.<br>
    👉 <a href="<%= @gym.admin_app_path %>/indoor-subscriptions">Réactiver mon abonnement</a>
  </p>
</div>

<div style="border-radius: 10px; padding: 15px; background-color: rgba(127, 127, 127, 0.09); margin-top: 2em">
  <p style="margin-top: 0">
    <strong>Adhérez à un projet de valeur</strong>
  </p>
  <p>
    Sur Oblyk il n'y aucune publicité, aucun tracker Google ou Facebook, nous respectons la vie privée des grimpeurs et grimpeuses, nous militons pour l'achat des topos, notre code est open-source et entièrement transparent !<br>
  </p>
  <p>
    Si ces valeurs n'ont pas de prix, elles ont un coût.
  </p>
  <p>
    En vous abonnant, vous accédez aux fonctionnalités avancées d'Oblyk pour votre salle ainsi que toutes les fonctionnalités à venir !<br>
    Mais vous permettez aussi à Oblyk de continuer de se développer et d'améliorer ses outils pour la communauté grimpante dont nous faisons tous partie 🙂
  </p>
  <p style="text-align: right; margin-bottom: 0; font-style: italic">
    Lucien CHASTAN<br>
    Développeur & Fondateur d'Oblyk
  </p>
</div>
