<p>
  Bonjour,
</p>

<p>
  La période d'essais pour <%= @multi_gym ? 'vos salles :' : 'votre salle' %> <strong><%= @indoor_subscription.gyms.map(&:name).join(', ') %></strong>
  se termine demain !
</p>

<p>
  Sans action de votre part, nous procéderons au paiement de votre première <%= @indoor_subscription.month_by_occurrence === 1 ? 'mensualité' : 'annualité' %>, et
  vous conserverez ainsi <strong>les fonctionnalités</strong> suivantes :
</p>

<%= render 'indoor_subscription_mailer/partial/features' %>

<p>
  Si vous souhaitez repasser sur la version gratuite,
  rendrez-vous sur la page de gestion de votre abonnement.
</p>

<p style="text-align: center">
  <a
    href="<%= @gym.admin_app_path(with_domain: true) %>/indoor-subscriptions"
    style="background-color: #6200ea; color: white; padding: 7px 12px; text-decoration: none; border-radius: 5px; display: inline-block; font-weight: bold"
  >
    JE GÈRE MON ABONNEMENT
  </a>
</p>

<p style="margin-top: 2em;">
  Vous avez des questions ? Des remarques ? Il vous manque une fonctionnalité ?<br>
  N'hésitez pas à nous écrire 🙂
</p>

<p>
  En espérant bientôt vous compter parmi nos abonnés 🤗<br>
  Nous vous souhaitons une bonne journée
</p>
